

.slide-animate {
  
}

.slide-animate.ng-leave{
   transition: opacity 0.25s ease-out  0s; 
}

.slide-animate.ng-enter {
  transition: opacity 0.25s ease-out 0.25s;
}

.slide-animate.ng-enter {

    opacity:0;
}
.slide-animate.ng-enter.ng-enter-active {
    
    opacity:1;
}

.slide-animate.ng-leave {
    opacity:1;
}
.slide-animate.ng-leave.ng-leave-active {
    opacity:0;
}