#lovebirds {
    width:100px;
    
    margin-top:35px;
    margin-left:auto;
    margin-right:auto;
}



/*Lovebird Object*/
.loveBirdContainer
{  
    position:relative;
    cursor:pointer;
    
    
}










.loveBirdContainer wedding-party {
    z-index:500;
}

#bride {
    position:absolute;
    right:100%;
    top:0;
}

#groom {
    position:absolute;
    left:100%;
    top:0;
}


.heartContainer {
 
    position:absolute;
    
    left:0;
    right:0;
    top:0;
    bottom:0;
    
    
    perspective: 1000;
	transform-style: preserve-3d;
    
    
    
}

.heart-expanded .heartBack {
    transform: rotateY(0deg);
}
.heart-expanded .heartFront {
    transform: rotateY(-180deg);
}


.heart-collapsed {
    width: 150px;
	height: 150px;
    
    z-index:0;
}

.heart-expanded {
    width: 150px;
	height: 150px;
    
    z-index:600;
}

/*.heartContainer, .heartFront, .heartBack {
	width: 150px;
	height: 150px;
}*/


.heartFlip {
    transition: 0.6s;
	transform-style: preserve-3d;

    
	position: relative;
}


.heartFront, .heartBack  {
	
    
    backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

.heartFront {
    
    display:block;
    z-index: 2;
	transform: rotateY(0deg);
    
    background-color:#ff0000;

    width:150px;
	height: 150px;
}

.heartBack {
    transform: rotateY(-180deg);
    
    background-color:#ff00ff;
    
    width: 150px;
	height: 150px;
}





/*.heartText
{
    color:#ffffff;
    
    
    
    position:absolute;
    
    text-align:center;
    
    top:5px;
}*/

/*Fake Heart*/
#heart {
    /*background-color:#352035;*/
    
    position:relative;
    
    
}


/*.heart-collapsed {
    height:150px;
    width:150px;
    
}*/



/*Heart*/
/*#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #352035;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

*/


/*Animations*/
@keyframes slide-left {
 
    0%; {right:100%;}
    50% {right:150%;}
    100% {right:100%;}
    
}

.animate-left {
 
    animation-name: slide-left;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-timing-function:ease-in;
    animation-fill-mode:forwards;
    animation-delay: 0s;
    
}


