html {
  /*background: url(../img/bg/bg.jpg) no-repeat center center fixed; */
    
    /*background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg/bg.jpg");
    
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    background-position: 0% 0%, center center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;

    
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;*/
    
    
    
    background-color: #000; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg/bg.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

body {
    /*color:#414141;*/
    color:#ffffff;
    font-size:16px;
 
    background-color:transparent;
    /*background-color:#ecefda;
    background-image: radial-gradient(rgba(53,32,53,0.08) 15%, transparent 16%),
    radial-gradient(rgba(53,32,53,0.08) 15%, transparent 16%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;*/

    
    
    font-family: 'Lato', sans-serif;
}

.main-title {
    color:#352035;
    text-align:center;
    
    
    
    font-family: 'PT Serif', serif;
}



.main-title span {
    font-family: 'Libre Baskerville', serif;
}




#mainContent {
    position:relative;
}

#content-window {
    position:absolute; 
    
    width:100%;
}

#content-window h3 {
    font-family: 'PT Serif', serif;
}



#navContainer {
    /*position:fixed;*/
    transition: left 0.25s ease-out 0s;
    /*width:300px;*/
}

#navContainer ul {
    padding-left:8px;
}

.navClose {
    display:block;
    margin-bottom:45px;
    width:100%;
}

.navClose span {
    position:absolute;
    right:18px;
    top:18px;
    cursor:pointer;
}

#navContainer ul {
    list-style: none;
    margin-right:20px;
    text-align:left;  
}

#navContainer ul li
{
    display:block;
    padding-top:8px;
    padding-bottom:8px;
    position:relative;
    overflow:hidden;    
}

#navContainer ul li a
{
    display:inline-block;
    padding:8px;
    color:#414141;
    outline:none;
    text-decoration:none;
    
    font-family: 'PT Serif', serif;
    transition:font-size 0.15s ease-out 0s;  
}

#navContainer ul li a:hover
{
    text-decoration: none;
    outline:none;
    
}

#navContainer ul li a:active
{
    outline:none;
    text-decoration:none;
}

#navContainer ul li a:visited
{
    outline:none;
}


.menu-btn {
 
    display:inline;
}


/************************************Size Specific Media *************************************/


/*Small and XS*/
@media all and (max-width: 991px) {  /*767px*/
    
    
    .main-title img {
 
        width:68%;
    }
    
    .body-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.5);
    }
    
    .nav-btn {
        color:ffffff;
        position: relative;
        float: left;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 25px;
        margin-top: 18px;
        background-color: transparent;
        background-image: none;
        border: 1px solid #ffffff;
        border-radius: 4px;
    }
    
    
    .nav-btn:hover {
    
        
    
    }
    
    #navContainer
    {
        position:absolute;
        top:0;
        z-index:500;
        background-color:#352035;  
        height:100%;
        color:#ffffff;
        width:300px;
    }
    
    #navContainer ul
    {
        margin-right:0 !important; 
        
    }
    
    #navContainer ul li
    {
          padding-left:30px;
    }
    
    #navContainer ul li a
    {
        color:#ecefda;
        font-size:1.5em;

    }

    #navContainer ul li a:hover
    {
        font-size:2em;

    }
    
    .current
    {
        font-size:2em;
    }
    
    
    
    
    
    .nav-hidden
    {
       left:-300px; 
    }
    
    .nav-expanded
    {
        left:0;   
    }
    
    
    #mainContent
    {
        width:95%;
        margin-left:auto;
        margin-right:auto;
            
        font-size:2.5em;

    }
    
    #mainContent wedding-party {
        font-size:16px;
    }
    
    .page-subtitle
    {
        text-align:center;
    }
    
    .main-title
    {
        text-align:center;
        font-size:2.5em;

    }
}


/*Medium*/
@media all and (min-width:768px) and (max-width: 991px) {

    
    .main-title img {
 
        width:48%;
    }
    
    #mainContent
    {
        width:95%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .nav-hidden
    {
       left:-300px; 
    }
    
    .nav-expanded
    {
        left:0;   
    }
}


/*Large  --- Desktop*/
@media all and (min-width: 992px) {
    
    
    .main-title img {
 
        width:38%;
    }
    
    .body-overlay {
        display:none;   
    }
    
    .nav-btn {
        display:none;   
    }
    
    #mainContent
    {
        width:44%;
        margin-right:35px;
    }
    
    .side-nav-toggle
    {
        display:none;
    }
    
    
    #navContainer
    {
        width:100%;
    }

    #navContainer ul
    {
        
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-around;
        /*min-width:240px;*/
        width:100%;

    }

    #navContainer ul li
    {
        display:block;
        padding-top:8px;
        padding-bottom:8px;

    }

    #navContainer ul li a
    {
        color:#ffffff;
    }

    #navContainer ul li a:hover
    {
        /*font-size:1.25em;*/
    }
  
    a .current
    {
        font-size:1.25em;
        color:#b7b8c4;
    }
    
    .main-title
    {
        font-size:4em;   
        
    }
}


/***************************Directives****************************/


/*Bridal Party Styles*/
.party-side
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

/*Bootstrap Overrides*/
.navbar {
    margin-bottom:0;
    min-height:0; 
}

.navbar-default {
 
    background-color:transparent;
    border:none;
}

.nav-collapse
{

    transition:height 0.01s;
}



/*Print View*/
@media print {
 
    a:after {
        	content: " (" attr(href) ")";
    }
    
    #imgContainer, #navContainer {
        display:none;
    }
    
    #mainContent {
        display:block;
        width:95%;
        text-align:center;
    }
}