#bridalPartyFlowchart {
    padding-top:200px;
}

wedding-party{

    max-width:175px;
    display: inline-block;
}


.personContainer
{
    
        
    /*width:10%;*/
    min-width:100px;
    position:relative;
    
    text-align:center;
    
    margin-left:10px;
    margin-right:10px;
    
    cursor:pointer;
}

.personAffiliation
{

    display:inline-block;
    
    font-size:0.75em;
    
    transition: text-shadow 0.25s ease-out 0s;
    
    
}

.personName
{
    /*position:absolute;*/
    top:88%;
    
    display:block;
    
    width:100%;
    
    border:2px solid #ffffff;
    border-radius:4px;
    
    padding:2px;
    
    background-color:#f06faa; 
    color:#ffffff;
    font-size:0.80em;
    
    transition: box-shadow 0.25s ease-out 0s;
}

.personImg
{
    /*background-image: url(...);
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;*/ 
    
    width:100%;

    border-radius:500px;
    
    transition: box-shadow 0.25s ease-out 0s;
    
    
}


.bride-affiliation {
    color:#f06faa;
}

.groom-affiliation {
    color:#164f82;
}

.male-background {
    background-color:#164f82;
}

.female-background {
    background-color:#f06faa;   
}


/*Shodowing*/
.personContainer:hover > .personAffiliation
{
       /*text-shadow: 5px 5px 3px #222222;*/
}

.personContainer:hover > .personName
{
    box-shadow: 5px 5px 3px #444444;
}

.personContainer:hover > .personImg
{
    box-shadow: 5px 5px 3px #444444;
}