<div class="loveBirdContainer">

    <div id="bride">
        <wedding-party person="bride" class="animate-left"></wedding-party>
    </div>
    <div class="heartContainer" ng-class="isExpanded  ? 'heart-expanded' : 'heart-collapsed'" ng-click="heartClick()">
        <div class="heartFlip">
            <div class="heartFront">
                {{isExpanded}}
                <!--<div id="heart"  >
                    
                </div>-->
                
            </div>
            <div class="heartBack">
                
                
            
            </div>
        </div>
    </div>
    <div id="groom">
        <wedding-party person="groom"></wedding-party>
    </div>
    
    
    
</div>